<h1>My overview Page </h1>
<h4><%= @user.name %></h4><br />
<h4><%= @user.email %></h4><br />
<% if !@grps.empty? %>
<h3>Group Invitation</h3>
<% @grps.each do |f| %>
<%= link_to f.name , f %><br />
<%= button_to 'Accept' , group_path(id: f.id) , method: 'put' %><%= button_to 'Decline' , group_path(id: f.id) , method: :delete %>
<% end %>
<% end %>	
<% if friend_request_any? %>
<h3>Friend Requests</h3>
<% @requests.each do |f| %>
<%= link_to (get_name(f.viewer_id)).name , get_name(f.viewer_id) %>
<%= button_to 'Accept' , friendship_path(id: (get_name(f.viewer_id)).id) , method: 'put' %>
<%= button_to 'Decline' , friendship_path(id: f.viewer_id) , method: :delete %>
<br />
<% end %>
<% end %> 