<% if signed_in? %>
<% end %>
<div class="xob" >
<%= form_for(@user) do |f| %>
<%= f.label :name, class:'input_label'%><br />
<%= f.text_field :name, class:'input-box' %><br />
<%= f.label :email, class:'input_label'%><br />
<%= f.text_field :email, class:'input-box'%><br />
<%= f.label :password, class:'input_label' %><br />
<%= f.password_field :password, class:'input-box' %><br />
<%= f.label :password_confirmation, class:'input_label' %><br />
<%= f.password_field :password_confirmation, class:'input-box' %><br />
<%= f.label :avatar , 'My avatar',class:'input_label' %><br />
<%= f.file_field :avatar, class:'input-box' %><br />
<%= f.hidden_field :avatar_cache %><br />
<% if signed_in? %> 
<%= f.submit 'Update' , class:'input-box'%>
<% else %>
<span class='input_label'>I Accept</span> <%= link_to 'Terms of services' , terms_path %><%= f.check_box :terms_of_services %><br />
<%= f.submit 'Sign Up' , class:'input-box' %>
</div>
<% end %>

<% end %>
