<div id="edils">
<%= render 'slider.js.erb' %>
<%= image_tag 'box-logo.jpg' , class: 'main' %>
</div>
<div id='signin_home'>
<%= render 'inputs/signin' %>
<h3>Not a Planner , Be one now</h3><%= link_to 'Sign Up' , signup_path , class: 'here' %>
</div>
<%= link_to '1', '#' , id:'slider_link1'  %>
<%= link_to '2', '#' , id:'slider_link2'  %>
<%= link_to '3', '#' , id:'slider_link3'  %>
<%= link_to '4', '#' , id:'slider_link4'  %>