<div class="edils">
<%= render 'slider.js.erb' %>
<%= link_to 'Previous Image slide here' ,'#' , {id: 'previous' , onclck: "previous();" }%>
<%= link_to 'Next Image slide' , '#' , id: 'next' %>
<<<<<<< HEAD
<div id='signin_home'>
<%= render 'inputs/signin' %>
</div>
=======
<%= render 'inputs/signup_edit' %>
</div>
>>>>>>> 4abc35cfaee07043fef8aa832212c2f1ccc58317
