<%= render 'slider.js.erb' %>
<%= link_to 'Previous Image slide here' ,'#' , {id: 'previous' , onclck: "previous();" }%>
<div class='main' >
<%= image_tag 'box-logo.jpg'%>
</div>
<%= link_to 'Next Image slide' , '#' , id: 'next' %>
<%= render 'inputs/signup_edit' %>
