<div class="edils">
<%= render 'slider.js.erb' %>
<%= link_to 'Previous Image slide here' ,'#' , {id: 'previous' , onclck: "previous();" }%>
<%= image_tag 'box-logo.jpg' , class: 'main' %>
<%= link_to 'Next Image slide' , '#' , id: 'next' %>
</div>
<div id='signin_home'>
<%= render 'inputs/signin' %>

<h3>Not a Planner , Be one now</h3><%= button_to'Sign Up' , signup_path, class: "nottub" %>
</div>
