<!DOCTYPE html>
<html>
<head>
  <title> <%= title  %></title>
  <%= stylesheet_link_tag    "application","token-input", :media => "all" %>
  <%= javascript_include_tag "application","jquery.tokeninput" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= image_tag 'logo.jpg', class: "pot"%>
<%= image_tag 'plannerace.jpg', class: "pot"%>
<% if signed_in? %>
<ul>
<li><%= link_to 'Home' , root_path ,class:'knil' %></li>
<li><%= link_to 'About', about_path , class:'knil'%></li>
<li><%= link_to 'Help' , help_path, class:'knil' %></li>
<li><%= link_to 'My Profile' , user_path(current_user) , class:'knil'%></li>
<li><%= link_to 'Personalize' ,edit_user_path(current_user) , class:'knil' %></li>
<li><%= link_to 'Sign out', signout_path , method: 'delete' , class:'knil' %></li>
<li><%= link_to 'All Users' , all_users_path , class:'knil' %></li>
</ul>
<% else %>
<ul>
<li><%= link_to 'Home' , root_path ,class:'knil' %></li>
<li><%= link_to 'About', about_path , class:'knil'%></li>
<li><%= link_to 'Help' , help_path, class:'knil' %></li>
<li><%= link_to 'Sign up', signup_path , class:'knil' %></li>
<li><%= link_to 'Sign in', signin_path , class:'knil' %></li>
</ul>
<% end %>
<% flash.each do |value , message| %>
<%= message %>
<% end %>
<% if signed_in? %>
<div class='below_nav'>
<%= yield %>
</div>
<% else %>
<%= yield %>
<% end %>
</body>
</html>
