<!DOCTYPE html>
<html>
<head>
  <title> <%= title  %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<ul>
<li><%= link_to 'Home' , root_path,class:'knil' %><li>
<li><%= link_to 'About', about_path , class:'knil'%></li>
<li><%= link_to 'Help' , help_path, class:'knil' %></li>

<% if signed_in? %>
<li><%= link_to 'My Profile' , user_path(current_user) , class:'knil'%></li>
<li><%= link_to 'Personalize' ,edit_user_path(current_user) , class:'knil' %></li>
<li><%= link_to 'Sign out', signout_path , method: 'delete' , class:'knil' %></li>
<li><%= link_to 'My overview' , overview_path(current_user), class:'knil' %></li>
<li><%= link_to 'All Users' , all_users_path , class:'knil' %></li>
<% else %>
<li><%= link_to 'Sign up', signup_path , class:'knil' %></li>
<li><%= link_to 'Sign in', signin_path , class:'knil' %></li><br />
</ul>
<% end %>
<% flash.each do |value , message | %>
<%= message %>
<% end %>
<%= yield %>

</body>
</html>
